S3method(print,goldval_diagnostics)
S3method(print,goldval_object)
S3method(print,goldval_performance)
S3method(print,goldval_calibration)
S3method(print,goldval_bootstrap)
S3method(plot,goldval_calibration)
export(bootstrap_goldval)
export(calibration)
export(diagnose_goldval)
export(goldval)
export(performance)
